@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 247 244; /* #FBF7F4 */
    --foreground: 45 42 38; /* #2D2A26 */
  }
}

body {
  background-color: #FBF7F4;
  color: #2D2A26;
}

/* Custom Scrollbar styled for light theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #EBE7E4;
}
::-webkit-scrollbar-thumb {
  background: #A39382;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8d7f70;
}
